*{
	box-sizing:border-box;
	margin:0;
	padding:0;
}

body{
	background-color:#cdc5bf;
	/*background-image:url(../img/26306989-Hexagon-Paper-Fold-Seamless-Background-Pattern-Stock-Vector);*/
	/*100vw (ancho de ventanilla) y 100vh (alto de ventanilla)*/

}

.glyphicon {
	font-size:20px;
	margin-top:40px;
}
.text-center{
	margin-right:70px;
	margin-bottom:20px;
}


.line{
	border-top:2px solid grey;
	margin-bottom:5px;
}

.tip {
	list-style: none;
	display: block;
	margin-bottom: 10px;
}
.tip a {
	display: block;
	text-decoration: none;
}
.tip a:hover {
	background-color:#da00ac;
}
.tip img {
	display: inline-block;
	margin-left:30px;
	width: 50px;
}