*{
	box-sizing:border-box;
	margin:0;

}
body{
	background-color:whitesmoke;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	height:100vh;
}
.glyphicon {
	font-size:20px;
	margin-top:10px;
}
.form-action{
	
}
.sgte{
	background-color:#DA00AC;
	font-size:20px;
	text-align:center;
	color:#ffffff;
	width:100%;
}