*{
	box-sizing:border-box;
	margin:0;


}
body{
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	height:100vh;
}
.glyphicon {
	font-size:20px;
	margin-top:25px;
}

.form-action{
	
}
.btn-default-sgte{
	background-color:#da00ac;
	padding:15px;
	margin-top:15px;
	text-align:center;
	color:#ffffff;
	width:100%;
}